:root {
  --color-white: #ffffff;
  --color-gray-bg: #f6f6f6;
  --color-gray200: #e8e8e8;
  --color-gray300: #d8d8d8;
  --color-gray400: #b4b4b4;
  --color-gray: #54565c;
  --color-black: #0c0c0c;

  --color-primary: #019a44;
  --color-primary700: #008839;
  --color-primary900: #036a38;
  --color-primary50: #e4f5e8;
}
