@import url("./css/reset.css");

@import url("./css/typography.css");
@import url("./css/colors.css");

@import url("./css/components/buttons.css");
@import url("./css/components/input.css");
@import url("./css/components/textarea.css");
@import url("./css/components/modals/modal.css");
@import url("./css/components/pagination.css");
@import url("./css/overlay.css");
@import url("./css/components/nav.css");
@import url("./css/components/toggle.css");
@import url("./css/components/link.css");

@import url("./components/header/header.css");
@import url("./components/footer/footer.css");

@import url("./css/components/select.css");
@import url("./css/components/blocks/payments.css");
@import url("./css/components/blocks/finance-lease-contract.css");

@import url("./pages/authorization/authorization.css");
@import url("./pages/personal_account/personal-account.css");
@import url("./pages/faq/faq.css");
@import url("./pages/404/404.css");

body {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  height: 100%;

  background-color: var(--color-gray-bg);
  color: var(--color-black);
}

body.no-scroll {
  overflow: hidden;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid var(--color-gray200);
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

a {
  transition: 0.2s;
}

a:hover {
  opacity: 0.7;
}

.svg-icon {
  cursor: pointer;
  transition: 0.3s;
}

.svg-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

main {
  background-color: var(--color-gray-bg);
}

.main__container {
  max-width: 1464px;
  margin: 0 auto;
}

.main__container-wrapper {
  padding: 72px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* icons */

.icon--medium {
  width: 24px;
  height: 24px;
}

.icon--large {
  width: 32px;
  height: 32px;
}

@media (max-width: 689px) {
  h1 {
    font-size: 24px;
    font-weight: 400;
  }

  h6 {
    font-size: 14px;
  }

  .main__container-wrapper {
    padding: 42px 16px;
  }
}
