.finance-lease-contracts__container {
  background-color: var(--color-gray-bg);
}

.finance-lease-contracts__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 96px 32px;
  max-width: 1440px;
  margin: 0 auto;
}

.finance-lease-contracts__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.finance-lease-contract-item__container {
  background-color: var(--color-white);
  border-radius: 16px;
}

.finance-lease-contract-item__header {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.finance-lease-agreement-item__main {
  padding: 0px 24px 24px 24px;
}

.finance-lease-contract-item__info {
  display: flex;
  gap: 24px;
}

.finance-lease-contract-item__contract-number {
  display: flex;
  align-items: center;
}

.finance-lease-contract-item__status-name {
  color: var(--color-primary);
}

.finance-lease-contract-item__date {
  display: flex;
  align-items: center;
  gap: 6px;
}

.finance-lease-contract-item__calendar-icon {
  width: 20px;
  height: 20px;
}

.finance-lease-contract-item__date {
  color: var(--color-gray);
}

.finance-lease-contract-item__round-icon {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: var(--color-primary);
}

.finance-lease-contract-item__status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.finance-lease-contract-item__actions {
  display: flex;
  gap: 16px;
}

.leasing-table {
  display: grid;
  grid-template-columns: repeat(6, minmax(164px, 1fr)); /* 6 колонок */
  border: 1px solid #e8e8e8;
  border-radius: 12px;
  overflow: hidden;
  font-family: Inter, sans-serif;
  line-height: 130%; /* 15.6px */
}

.cell {
  font-size: 14px;
  display: flex; /* превращаем ячейку в flex-контейнер */
  align-items: center; /* по вертикали */
  padding: 16px;
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  color: var(--color-black);
  font-weight: 600;
}

.cell.header {
  font-size: 14px;
  display: flex; /* превращаем ячейку в flex-контейнер */
  align-items: center; /* по вертикали */
  background: #fafafa;
  font-weight: 400;
  color: var(--color-gray);
}

.cell:nth-child(6n) {
  border-right: none; /* убираем правую границу у последнего столбца */
}

.cell:nth-last-child(-n + 6) {
  border-bottom: none; /* убираем нижнюю границу у последней строки */
}
