<link rel="stylesheet" href="../../style.css" />

<div class="header__container">
  <div class="header__top">
    <div class="header__logo-container">
      <img class="header__logo" src="../../assets/img/LOGO.svg" alt="" />
      <img
        class="header__close-btn"
        src="../../assets/icons/Non-categorized.svg"
        alt=""
      />
    </div>
    <div class="header__manager-container">
      <div class="header__manager-info">
        <img
          class="header__manager-photo"
          src="../../assets/img/_Professional portrait of a manager in a modern office setting. Person aged 25–40, wearing a light-colored shirt or classic blazer, friendly and confident expression with a slight smile. Neutral light background (white or light gray). Minimalisti.png"
          alt=""
        />
        <div class="header__manager-name-and-position">
          <p class="text text--semibold header__manager-name">
            Иванов Иван Иванович
          </p>
          <p class="text header__manager-position">
            Специалист по сопровождению
          </p>
        </div>
      </div>
      <div class="header__divider"></div>
      <div class="header__manager-contacts">
        <p class="text header__manager-phone">+375 (29) 333 33 33</p>
        <p class="text header__manager-email">example@gmail.com</p>
      </div>
      <div class="header__divider"></div>
      <button class="btn btn--primary btn--small">Заказать звонок</button>
    </div>
  </div>
  <div class="header__bottom">
    <nav>
      <ul class="header__nav">
        <li class="text text--medium header__nav-item active">Договоры</li>
        <li class="text text--medium header__nav-item">Онлайн - заявки</li>
        <li class="text text--medium header__nav-item">Вопрос - Ответ</li>
        <li class="text text--medium header__nav-item">Уведомления</li>
      </ul>
    </nav>
    <div class="header__personal-profil">
      <div class="header__user-avatar">
        <h4 id="header__user-first-letter"></h4>
      </div>
      <p id="user-name" class="header__user-name">Сергеев Сергей</p>
    </div>
  </div>
</div>

<script src="../ header/header.js"></script>
