.authorization {
  display: flex;
  gap: 32px;
  padding: 32px;
  background-color: white;
}

.authorization__wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.authorization__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.authorization__fields {
  display: block;
  width: calc(100% - 140px);
}

.authorization__title {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}

.authorization__image {
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 64px);
  border-radius: 24px;
}

.authorization__logo {
  height: 42px;
  width: auto;
}

.authorization__registration-text {
  color: var(--color-gray);
  font-weight: 300;
}

.authorization__registration {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.authorization__registration-text {
  text-align: center;
}

.authorization__link {
  color: var(--color-primary);
  font-weight: 300;
  font-size: 14px;
}

.authorization__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.authorization__btn {
  width: 100%;
}

.authorization__separator {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-gray400);
  width: calc(100% - 140px);
}

.authorization__separator hr {
  flex: 1;
  height: 1px;
  border: none;
  background-color: var(--color-gray300);
  margin: 0;
}

.authorization__separator span {
  font-size: 14px;
  font-weight: 400;
  padding: 0 8px;
}
.authorization__technical-support {
  display: flex;
  gap: 4px;
  align-items: center;
  background: transparent;
  border: none;
  color: var(--color-black);
  cursor: pointer;
  padding: 8px;
  font-size: 14px;
}

.authorization__technical-support .svg-icon {
  width: 20px;
  height: 20px;
  fill: var(--color-black);
}

.authorization__alternative-methods {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: calc(100% - 140px);
}
