.faq__container {
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 32px;
}

.faq__wrapper {
  display: flex;
  gap: 32px;
  flex-grow: 1;
}

.faq__divider {
  width: 1px;
  background-color: var(--color-gray200);
}

.faq__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.faq__info-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq__info-block h4,
.faq__icon-color {
  transition: 0.2s;
}

.faq__info-block:hover h4 {
  color: var(--color-primary);
}

.faq__info-block:hover .faq__icon-color {
  fill: var(--color-primary);
}

.faq__question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__answer {
  display: none;
  transition: 0.2s;
  color: var(--color-gray);
}

.faq__answer.open {
  display: flex;
}

.personal-profile__content-divider {
  height: 1px;
  width: 100%;
  background-color: var(--color-gray200);
}

.personal-profile__email-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.personal-profile__button-container {
  display: flex;
  gap: 8px;
}

#settings-content .personal-profile__info-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1099px) {
  .personal-profile__nav {
    display: flex;
    flex-direction: row;
  }
  .personal-profile__wrapper {
    flex-direction: column;
  }

  .personal-profile__divider {
    height: 1px;
    width: 100%;
  }
}

@media (max-width: 689px) {
  .personal-profile__container {
    padding: 20px;
  }

  nav {
    overflow: auto;
    /* Для Firefox */
    scrollbar-width: none;

    /* Для IE и Edge Legacy */
    -ms-overflow-style: none;
  }
}
