.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../../assets/icons/Arrows.svg") no-repeat right 10px center;
  border: 1px var(--color-gray300) solid;
  cursor: pointer;
}

.select:hover {
  border: 1px var(--color-gray400) solid;
}

.select:focus {
  border: 1px var(--color-black) solid;
  outline: none;
}

.input::placeholder {
  color: var(--color-gray400);
  font-size: 14px;
}

.select--small {
  height: 36px;
  padding: 0px 14px;
  font-size: 14px;
}
