.autarization__container {
  display: flex;
  gap: 32px;
  padding: 32px;
}

.autarization__wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.autarization__autarization-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  width: 100%;
}

.autarization__fields {
  display: block;
  width: calc(100% - 140px);
}

.autarization__title {
  display: flex;
  gap: 16px;
}

.autarization__img {
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 64px);
  border-radius: 24px;
}

.autarization__logo {
  height: 42px;
  width: auto;
}

.autarization__registration-info {
  color: var(--color-gray);
  font-weight: 300;
}

.autarization__registration {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.autarization__registration-info {
  text-align: center;
}

.autarization__link {
  color: var(--color-primary);
  font-weight: 300;
  font-size: 14px;
}

.autarization__fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.autarization-btn {
  width: 100%;
}
